.main {
    background-color: #F1F2F4;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info {
    width: 475px;
}

.inputs {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    justify-content: space-around;
    border-radius: 8px;
    margin: 30px 0;
}