.navigation {
    background-color: #F1F2F4;
    height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.active {
    color: blue;
    border-bottom: 1px solid blue;
}